@import "bootstrap/scss/bootstrap";


.container{
  max-width: 900px;
  margin: 20px auto 20px;
}

.center {
  text-align: center;
}

#logo {
  margin-right: 15px;
  font-size: 1.5em;
  letter-spacing: -0.5px;
  font-weight: 800;
  &:hover {
    color: rgb(231, 231, 231);
    text-decoration: none;
  }
}

.tx-data {
  text-align: left;
}

.card {
  margin: 10px auto 10px;
}

.footer {
  margin: 40px 0 10px;
  text-align: center;
  font-size: 0.75rem;
}
.footer span {
  color: #777;
}
.footer a {
  font-weight: 600;
  color: rgb(82, 82, 82);
}
