@import "bootstrap/scss/bootstrap";


.container{
  max-width: 900px;
  margin: 20px auto 20px;
}

.center {
  text-align: center;
}


#logo {
  margin-right: 10px;
  font-size: 1.5em;
  letter-spacing: -0.5px;
  font-weight: 800;
  &:hover {
    color: rgb(231, 231, 231);
    text-decoration: none;
  }
}


.tx-data {
  text-align: left;
}

.card {
  margin: 10px auto 10px;
}
